# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.


# The main micro-controller is the SKR Mini E3 v2.0.
# It is used as the timing source for all the micro-controllers on the printer.
# Most functions for the printer are handled by this MCU.
# Most importantly: the X and Y axes.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD6055358353220800843-if00

# The "mcu_cr221" micro-controller is the stock board.  Creality V.2.2.1
# This MCU is is used to control the Z axis.
# Possibly other functions will be handled by this MCU as well.... Don't know yet.
[mcu mcu_cr221]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AG0KEMOJ-if00-port0

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_max: 365
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: ^PC0      # Set to MCU pin connected to TMC DIAG pin
uart_address: 0
run_current: 0.80
hold_current: 0.500
stealthchop_threshold: 999999
driver_SGTHRS: 120

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 32
endstop_pin: ^PC1
position_endstop: 0
position_max: 355
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.850
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PC2
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
position_min: -2
position_max: 350

[safe_z_home]
home_xy_position: 175,175 # Change coordinates to the center of your print bed
speed: 50
z_hop: 20                 # Move up 20mm
z_hop_speed: 20

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.780
hold_current: 0.650
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
full_steps_per_rotation:48
gear_ratio: 7.5:1
rotation_distance: 22.23    # dialed in with Sunlu 1.75mm black PETG
max_extrude_only_distance: 101
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.450
hold_current: 0.300
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC6

[fan]
pin: PC7


[printer]
kinematics: cartesian
max_velocity: 100
max_accel: 1500
max_z_velocity: 50
max_z_accel: 150

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

[bltouch]
stow_on_each_sample: FALSE
probe_with_touch_mode: True
sensor_pin: ^PC14
control_pin: PA1
pin_move_time: 0.5
pin_up_touch_mode_reports_triggered: False
x_offset: -32
y_offset: 3
z_offset: 2.07
speed: 30
lift_speed: 30
samples: 3
sample_retract_dist: 5
samples_tolerance_retries: 3

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 5,8
mesh_max: 330,340
probe_count: 9,9
mesh_pps: 2,2
algorithm: bicubic


# Print Macros
[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 65 
default_parameter_EXTRUDER_TEMP: 220
gcode:
    # Load bed mesh
    BED_MESH_PROFILE LOAD=default
    # Pre-heat extruder to 170 while everything else goes on
    M104 S170
    # Set and wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set GCODE offset
    SET_GCODE_OFFSET Z=0
    # Home
    G28
    # Move Z up
    G1 Z10.0 F3000
    # Reset extruder
    G92 E0
    # Move to start position
    G1 X0.1 Y20 Z2.0 F5000.0
    # Preset extruder temperature and wait
    M109 S210
    # Retract filament a little to avoid oozing while waiting
    G1 E-5
    # Set Extruder temperature for print 
    M104 S{EXTRUDER_TEMP}
    # Move Z axis up a little to prevent scratching heat bed
    G1 Z2.0 F3000
    # Wait for Extruder temperature
    M109 S{EXTRUDER_TEMP}
    # Move to start for purge line
    G1 X2 Y3 Z0.3 F5000.0
    # Draw 1st line
    G1 X1 Y345.0 Z0.3 F1500.0 E35
    # Draw 2nd line
    G1 X345 Y345 Z0.3 F1500.0 E70
    # Draw 3rd line
    G1 X345 Y3 Z0.3 F1500.0 E105
    # Draw 3rd line
    G1 X5 Y2 Z0.3 F1500.0 E140
    # Reset extruder
    G92 E0
    # Retract filament to avoid oozing
    G1 E-3
    # Move Z up a little
    G1 Z5.0 F3000
    
[gcode_macro END_PRINT]
gcode:
    G92 E0 ; set extruder back to zero
    G1 E-2 ; retract 2mm to avoid stringing
    M104 S0 ; turn off temperature
    M140 S0 ; turn off bed temp
    G91 Z ; Set Z position to relative
    G1 Z10 ; Move carriage up 10mm to get it out of the way
    G90 ; Set positioning back to absolute mode
    G1 X0  ; Move X axis out of the way
    G1 Y350 ; Move bed to front for "display"

# ======================================================================
# MENU MACRO
# ======================================================================

[menu __main __cal]
type: list
name: Calibration
enable: true

# Stand alone CAL Menus
# ======================================================================
[menu __main __cal __probe_accuracy]
type: command
name: Test Z Probe Accuracy
enable: true
gcode:
    G28
    PROBE_ACCURACY
    
[menu __main __cal __firmware_restart]
type: command
name: Restart firmware
enable: true
gcode:
        FIRMWARE_RESTART

[menu __main __cal __homeXYZ]
type: command
name: Home XYZ
enable: true
gcode:
        G28

[menu __main __cal __bed_mesh_calibrate]
type: command
name: Generate bed mesh
enable: true
gcode:
   G29

[menu __main __cal __screws_tilt_calculate]
type: command
name: Calculate Bed Tilt
enable: true
gcode:

   SCREWS_TILT_CALCULATE

# ======================================================================

[menu __main __cal __calibratez]
type: list
name: Adjust Z offset
enable: true

[menu __main __cal __calibratez __test_z]
type: input
name: Test Z: {['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
input: 6
input_min: -2
input_max: 11
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
        TESTZ Z={['++','+','+.01','+.05','+.1','+.5','+1','-1','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
    {%- endif -%}

[menu __main __cal __calibratez __execute]
type: command
name: Execute
enable: true
gcode:
    G28
    PROBE_CALIBRATE

[menu __main __cal __calibratez __accept]
type: command
name: Accept
enable: true
gcode:
        ACCEPT

[menu __main __cal __calibratez __abort]
type: command
name: Abort
enable: true
gcode:
        ABORT


[menu __main __cal __calibratez __save_config]
type: command
name: Save config
enable: true
gcode:
        SAVE_CONFIG

[menu __main __cal __calibratez __minus]
type: command
name: "-"
enable: true
gcode:
        TESTZ Z=-

[menu __main __cal __calibratez __minus_minus]
type: command
name: "--"
enable: true
gcode:
        TESTZ Z=--

[menu __main __cal __calibratez __plus]
type: command
name: "+"
enable: true
gcode:
        TESTZ Z=+

[menu __main __cal __calibratez __plus_plus]
type: command
name: "++"
enable: true
gcode:
        TESTZ Z=++

[menu __main __cal __calibratez __minus_1]
type: command
name: "-1.0"
enable: true
gcode:
        TESTZ Z=-1

[menu __main __cal __calibratez __plus_1]
type: command
name: "+1.0"
enable: true
gcode:
        TESTZ Z=+1

[menu __main __cal __calibratez __minus_point_1]
type: command
name: "-0.1"
enable: true
gcode:
        TESTZ Z=-0.1

[menu __main __cal __calibratez __plus_point_1]
type: command
name: "+0.1"
enable: true
gcode:
        TESTZ Z=+0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.315833, -0.268333, -0.219167, -0.185000, -0.160833, -0.185000, -0.221667, -0.269167, -0.345000
#*# 	  -0.217500, -0.170833, -0.137500, -0.048333, -0.106667, -0.134167, -0.181667, -0.235833, -0.318333
#*# 	  -0.155000, -0.107500, -0.074167, -0.055833, -0.061667, -0.095000, -0.162500, -0.228333, -0.313333
#*# 	  -0.123333, -0.070000, -0.035833, -0.023333, -0.029167, -0.077500, -0.162500, -0.250000, -0.340833
#*# 	  -0.132500, -0.078333, -0.039167, -0.025833, -0.029167, -0.076667, -0.167500, -0.265000, -0.375833
#*# 	  -0.165833, -0.113333, -0.077500, -0.056667, -0.077500, -0.124167, -0.225833, -0.308333, -0.401667
#*# 	  -0.191667, -0.125833, -0.080000, -0.068333, -0.083333, -0.132500, -0.224167, -0.305833, -0.404167
#*# 	  -0.113333, -0.036667, -0.015000, -0.010000, -0.030833, -0.110000, -0.219167, -0.292500, -0.375833
#*# 	  -0.026667, 0.045000, 0.068333, 0.070000, 0.052500, -0.027500, -0.137500, -0.207500, -0.290000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 8.0
#*# x_count = 9
#*# max_y = 340.0
#*# mesh_x_pps = 2
#*# max_x = 329.96
#*#
#*# [bed_mesh manual01]
#*# version = 1
#*# points =
#*# 	0.024167, -0.016667, -0.045833, -0.142500, -0.249167
#*# 	0.075000, 0.040000, -0.017500, -0.128333, -0.257500
#*# 	0.049167, 0.039167, -0.021667, -0.168333, -0.330833
#*# 	0.027500, 0.025833, -0.032500, -0.194167, -0.335833
#*# 	0.180833, 0.203333, 0.149167, -0.025000, -0.109167
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 5
#*# max_y = 335.0
#*# mesh_x_pps = 2
#*# max_x = 310.0
#*#
#*# [bed_mesh manual_01]
#*# version = 1
#*# points =
#*# 	  -0.315833, -0.268333, -0.219167, -0.185000, -0.160833, -0.185000, -0.221667, -0.269167, -0.345000
#*# 	  -0.217500, -0.170833, -0.137500, -0.048333, -0.106667, -0.134167, -0.181667, -0.235833, -0.318333
#*# 	  -0.155000, -0.107500, -0.074167, -0.055833, -0.061667, -0.095000, -0.162500, -0.228333, -0.313333
#*# 	  -0.123333, -0.070000, -0.035833, -0.023333, -0.029167, -0.077500, -0.162500, -0.250000, -0.340833
#*# 	  -0.132500, -0.078333, -0.039167, -0.025833, -0.029167, -0.076667, -0.167500, -0.265000, -0.375833
#*# 	  -0.165833, -0.113333, -0.077500, -0.056667, -0.077500, -0.124167, -0.225833, -0.308333, -0.401667
#*# 	  -0.191667, -0.125833, -0.080000, -0.068333, -0.083333, -0.132500, -0.224167, -0.305833, -0.404167
#*# 	  -0.113333, -0.036667, -0.015000, -0.010000, -0.030833, -0.110000, -0.219167, -0.292500, -0.375833
#*# 	  -0.026667, 0.045000, 0.068333, 0.070000, 0.052500, -0.027500, -0.137500, -0.207500, -0.290000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = bicubic
#*# y_count = 9
#*# mesh_y_pps = 2
#*# min_y = 8.0
#*# x_count = 9
#*# max_y = 340.0
#*# mesh_x_pps = 2
#*# max_x = 329.96
